{% load i18n %}
<html>
<body>
{% block content %}
<p>
{{ message.sender }} {% trans 'sent you a message at' %} 
{{ timestamp }}
{% if message.topic %}{% trans 'regarding' %} {{ message.topic.display_name }}{% endif %}
</p>

{{ message.body|linebreaks }}

{% endblock %}

{% block signature %}{% include 'contact/email/_signature.html' %}{% endblock %}
</body>
</html>

{% comment %} Keep indentation at 0 and linebreaks to minimum. {% endcomment %}
